<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="conexion" connectionString="user id=sa;data source=pc-desarrollo;persist security info=true;initial catalog=javier7;password=Myv04$..;connection Timeout=45" />

    <add name="PRESUPUESTO.My.MySettings.javierConnectionString" connectionString="Data Source=pc-desarrollo;Initial Catalog=javier7;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>